{% extends 'base.html' %}
{% block content %}


<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on January 1, 2021 by start Boostarp</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="http://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">seregre dge drherh dfhreh ftdhjrhj gr trr rfr f  fhgrhtr frthtrhtr frhjrtn  rhrt rthrt nnrtntrn rn.</p>
                    <p class="fs-5 mb-4">seregre dge drherh dfhreh ftdhjrhj gr trr rfr f  fhgrhtr frthtrhtr frhjrtnn.</p>
                    <p class="fs-5 mb-4">seregre dge drherh dfhreh trr rfr f  fhgrhtr frthtrhtr frhjrtn  rhrt rthrt nnrtntrn rn.</p>
                    <h2 class="fw-bolder mb-4 mt-5">iuggg ereiuo euuoe eboe enoine rionoief oieofg</h2>
                    <p class="fs-5 mb-4">serf  fhgrhtr frthtrhtr frhjrtn  rhrt rthrt nnrtntrn rn.</p>
                    <p class="fs-5 mb-4">seregre dge drherh dfhreh ftdhjrhj gr trr rfr f  fhgrhtr frthtrhtr frhjrtn  rhrt rthrt nnrtntrn rn.</p>
                </section>
            </article>
        </div>
    </div>
</div>

{% endblock %}